html {
    font-family: 'AR One Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    background-color: rgb(248, 227, 207);
    
}
.title {
    color: darkcyan;
    background-color: lightblue;
}
.heading {
    color: cadetblue;
    background-color: beige;
    
}
body {
    width: 600px;
    margin: auto;
    padding: 0 20px 20px 20px;
    border: 2px solid wheat;
}